main {
    margin-top: 80px;
}

main h1 {
    margin-bottom: 7.5%;
}

main > p {
    margin-bottom: 32px;
}

main h2 {
    font-size: 32px;
    margin-bottom: 32px;
}

main h3 {
    font-size: 16px;
    font-weight: 400;
}

.experience {
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 4px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #e0e0e0;
}

.expeience h3 { grid-column: 1; grid-row: 1; }
.experience .tag { grid-column: 2; grid-row: 1; justify-self: end;}
.experience .company { grid-column: 1; grid-row: 2; }
.experience .location { grid-column: 1; grid-row: 3; }
.experience .dates {grid-column: 2; grid-row: 2; justify-self: end; }

.experience svg {
    margin-right: 6px;
}

.tag {
    background: #d4f5dd;
    color: #1a6b35;
    padding: 4px 12px;
    border-radius: 999px;
    font-size: 13px;
}

@media (max-width: 600px) {

    footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
}

}


